@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Documents Details</title>
</head>

<body>

<div id="listOfDocuments">
    @{ Html.RenderAction("GetDocuments", "Documents", new { id = Url.RequestContext.RouteData.Values["id"] });}
</div>

<div id="createAndEditDocs">
    @{Html.RenderAction("UploadDocument", "Documents", new { id = Url.RequestContext.RouteData.Values["id"] });}
</div>

<div id="finishUpload" class="offset-md-6">
    <hr/>
    @Html.ActionLink("Finish", "ApplicantDetails", "Applicants", new {id = Url.RequestContext.RouteData.Values["id"]}, null)
</div>

</body>
</html>